body {
  font-family: system-ui;
  background: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSEp6hnK_OeHknbcnc8aXw1sD_W5FpWQVpL_Q&usqp=CAU);;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 100% ;
  color: black;
  text-align: center;
}